/* =============================================================================
  Resets
============================================================================= */
html,
body,
div,
h1,
p,
a,
video{
    margin: 0;
    padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html{
  overflow-y: scroll;
}
html,
body {
  height: 100%;
}
body {
background-color:black;
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 75%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-color: black;
background-size: cover;
}

/* =============================================================================
  TYPE
============================================================================= */
.more,.less {
  margin-bottom: 30px;
  display:block;
}

a {
  font-family: 'alternate-gothic-no-1-d', sans-serif;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  display:block;

}

.contactline {
  border-bottom: 1px dotted white;

  max-width: 175px;
  letter-spacing: 3px;
  padding-top:3px;
}
.aboutline {
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;

  max-width: 175px;
  letter-spacing: 3px;
  padding-top:3px;


}


.morelink {
  font-family: 'Lora', serif;
  color:white;
  text-transform: none;
  font-weight: normal;
  font-size: 1em;
  text-decoration: underline;
}

a:hover {
    color: grey;
}

h2, p {
  font-family: 'Lora', serif;
  color:white;
  cursor: text;
  font-weight: normal;
}


p {
    font-size: 1.5em;
}


/* =============================================================================
  NAV
============================================================================= */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: static;
}


#menu li {
    display:block;

}

#social li {
    display:inline-block;
}


nav {
z-index: 5;
position: fixed;
}

.title {
  padding-bottom: 15px;
  display: block;
}

a svg {
  display: block;
}
.logo{
  width: 175px;
  height: auto;
  fill: white; !important}

a.logo svg:hover {
  fill: grey; !important
}
a.socialicon svg:hover {
  fill: white; !important

}


.socialicon{
height:38px;
width: auto;
fill: grey; !important}

#social{
  float:right;
  position:absolute;
  display:block;
  padding-top:160px;
  margin-right: 52px;
  z-index:1;
  right: 0;
}


/* =============================================================================
BARS
============================================================================= */

bar {
  height:240px;
  background-color: black;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}

.topbar {
  top: 0px;
}

.bottombar {
  bottom: 0px;
}

#backgroundcover {
  height: 0%;
  top: 0px;
  background-color: black;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}



/* =============================================================================
FLEXHAX
============================================================================= */
/* Layout: */
.layout {
  display:flex;
  flex-wrap: wrap;
  padding-top:47px;
    flex-wrap: wrap;
    max-width:960px;
}
.container {
  max-width: 100%;
  margin-right: 5%;
  margin-left: 52px;
  height: 100%;
}



.col-main {
  flex: 4;
  order: 2;

}

.col-complementary {
flex: 0 0 200px;
order: 1;

}

/* etc */



.col {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}






/* =============================================================================
  About
============================================================================= */
#overlay {
    display: none;
    width: 100%;
    margin-top: 200px;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: default;
    /*  min-height: 100%;*/
    animation: fadeIn 1s;
    float:left;
    padding-left:2%;
}


/* =============================================================================
  ANIMATION
============================================================================= */

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


html{animation: fadeIn 0.2s}


/* =============================================================================
  MEDIA QUERIES
============================================================================= */
/* Responsive: */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    bar {
      height:240px;
      background-color: pink;
      display:block;
      position: fixed;
      width: 100%;
      z-index:-2;
    }

}


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    bar {
      height:240px;
      background-color: pink;
      display:block;
      position: fixed;
      width: 100%;
      z-index:-2;
    }

video#bgvid {display:none;}
}
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
video#bgvid {display:none;}
bar {
  height:240px;
  background-color: pink;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}
}
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
video#bgvid {display:none;}
bar {
  height:240px;
  background-color: pink;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}
}
@media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {
video#bgvid {display:none;}
bar {
  height:240px;
  background-color: pink;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}
}
@media
  (min-device-width: 800px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {
video#bgvid {display:none;}
bar {
  height:240px;
  background-color: pink;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}
}
@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332) {
video#bgvid {display:none;}
bar {
  height:240px;
  background-color: pink;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}
}
@media screen
  and (device-width: 1536px)
  and (device-height: 2048px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332) {
video#bgvid {display:none;}
bar {
  height:240px;
  background-color: pink;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}
}
@media only screen
  and (min-device-width: 800px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
video#bgvid {display:none;}
bar {
  height:240px;
  background-color: pink;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}
}

@media only screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1.5) {

    bar {
      height:240px;
      background-color: pink;
      display:block;
      position: fixed;
      width: 100%;
      z-index:-2;
    }
}





@media only screen and (max-height: 900px) {
  .bottombar {
    display: none;
  }
}



@media only screen and (max-width: 760px) {
  .layout {
    display:flex;
    flex-wrap: wrap;
    padding-top: 50px;
    flex-wrap: wrap;
    max-width:1440px;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .container {
    max-width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    height: 100%;
  }

  #social{

  margin-right: 5%;
  padding-top:190px;


  }


  #overlay {
      display: none;
      width: 100%;
      height: auto;
      margin-top: 20px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      cursor: default;
      min-height: 100%;
      animation: fadeIn 1s;
      float:left;
        padding-left:0;
        padding-top:0.5em;
  }






.bottombar {
  display: none;
}

.topbar {
  height: 0%;
}

video#bgvid {display:none;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#menu li {

    margin-right:  15px;

}
.title {
  padding-bottom: 15px;
  width:85vw;

  display: inline-block;

}

.col-complementary {
flex: 0 0 0px;
order: 1;
}


a svg {
  fill: white; !important
  display: block;
  width: 175px;
  height: auto;
  max-height: 40vh;

}


a {
  font-family: 'alternate-gothic-no-1-d', sans-serif;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

#random {
     background:#000 no-repeat center center fixed;
     background-size: cover;

}


}
@media only screen and (max-width: 321px) {
#social{

margin-left: 5%;
left:0;
bottom:0;

}



}
