/* =============================================================================
  Resets
============================================================================= */
html,
body,
div,
h1,
p,
a,
video{
    margin: 0;
    padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html{
  overflow-y: scroll;
}
html,
body {
  height: 100%;
}
body {
background-color:black;
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-color: black;
/*background: url('Images/i(6).jpg') no-repeat;*/
background-size: cover;
}

/* =============================================================================
  TYPE
============================================================================= */
.more,.less {
  margin-bottom: 30px;
  display:block;
}

a {
  font-family: 'alternate-gothic-no-1-d', sans-serif;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;


  display:block;

}

.contactline {
  border-bottom: 1px dotted white;
/*  margin-left:10px; */
  max-width: 175px;
  letter-spacing: 3px;
}
.aboutline {
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
/*  margin-left: 10px; */
  max-width: 175px;
  letter-spacing: 3px;


}


.morelink {
  font-family: 'Lora', serif;
  color:white;
  text-transform: none;
  font-weight: normal;
  font-size: 1em;
  text-decoration: underline;
}

a:hover {
    color: grey;
}

h2, p {
  font-family: 'Lora', serif;
  color:white;
  cursor: text;
  font-weight: normal;
}


p {
    font-size: 1.5em;
}


/* =============================================================================
  NAV
============================================================================= */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: static;
}


#menu li {
    display:block;

}

nav {
z-index: 5;
position: fixed;
}

.title {
  padding-bottom: 15px;
  display: block;
}

a svg {
  fill: white; !important
  display: block;
  width: 175px;
  height: auto;

}
a svg:hover {
  fill: grey; !important
}
/* =============================================================================
BARS
============================================================================= */

bar {
  height:240px;
  background-color: black;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}

.topbar {
  top: 0px;
}

.bottombar {
  bottom: 0px;
}

#backgroundcover {
  height: 0%;
  top: 0px;
  background-color: black;
  display:block;
  position: fixed;
  width: 100%;
  z-index:-2;
}



/* =============================================================================
FLEXHAX
============================================================================= */
/* Layout: */
.layout {
  display:flex;
  flex-wrap: wrap;
  padding-top:52px;
    flex-wrap: wrap;
    max-width:960px;
}
.container {
  max-width: 100%;
  margin-right: 5%;
  margin-left: 52px;
  height: 100%;
}



.col-main {
  flex: 4;
  order: 2;

}





.col-complementary {
flex: 0 0 200px;
order: 1;

}





/* etc */



.col {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}






/* =============================================================================
  About
============================================================================= */
#overlay {
    display: none;
    width: 100%;
    margin-top: 200px;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: default;
    /*  min-height: 100%;*/
    animation: fadeIn 1s;
    float:left;
    padding-left:2%;
}


/* =============================================================================
  ANIMATION
============================================================================= */

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


html{animation: fadeIn 0.2s}


/* =============================================================================
  MEDIA QUERIES
============================================================================= */
/* Responsive: */

@media only screen and (max-height: 900px) {
  .bottombar {
    display: none;
  }
}



@media only screen and (max-width: 915px) {
  .layout {
    display:flex;
    flex-wrap: wrap;
    padding-top: 50px;
    flex-wrap: wrap;
    max-width:1440px;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .container {
    max-width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    height: 100%;
  }

  #overlay {
      display: none;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      cursor: default;
      min-height: 100%;
      animation: fadeIn 1s;
      float:left;
        padding-left:0;
        padding-top:0.5em;
  }

  p {
      font-size: 1.em;
  }




.bottombar {
  display: none;
}

.topbar {
  height: 0%;
}

video#bgvid {display:none;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#menu li {

    margin-right:  15px;

}
.title {
  padding-bottom: 15px;
  width:85vw;

  display: inline-block;

}

.col-complementary {
flex: 0 0 0px;
order: 1;
}


a svg {
  fill: white; !important
  display: block;

  width: 175px;
  height: auto;

  max-height: 40vh;

}


a {
  font-family: 'alternate-gothic-no-1-d', sans-serif;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

#random {
     background:#000 no-repeat center center fixed;
     background-size: cover;

}


}


/*
@media screen and (min-width: 700px) {
  a {
    font-size: 3em;
  }

  a svg {
    fill: white; !important
    display: block;
    width: 50%;
    height: auto;
  }

 #overlay {
      margin-top: 10px;

  }

  .layout {

    margin-right: 75px;
  }



    #bgvid {
        display: none;
    }

    .col {
      padding: 0 0 0 35px;
      margin: 0 0 0 0;
    }

    .col-main {
      flex: 1;
      padding-bottom:35px;
    }





    .col-complementary {
    flex: 1;
    background-color:black;
    overflow:visible;
    width: 100vw;
    padding-top:35px;

    padding-bottom: 35px;
    }



.bottombar {
  display:none;

}
}


@media screen and (min-width: 700px) {
.layout {
  display: flex;
}

.bottombar {
  display:inherit;

}
}
*/
/*
@media screen and (max-width: 1080px) {
  #random {
       background:#000 no-repeat center center fixed;
       background-size: cover;
  }


    #bgvid {
        display: none;
    }

    .left {
      width: 100%;
      margin: 0px;
      padding: 0px;

      display: fixed;
      z-index: 5;
    }

    nav {
    z-index: 5;
    position:relative;
    margin:5%;
    }

    about{
      margin: 5px 3% 3% 3% ;
      float:left;
      height: auto;
      display:inline-block;
      width: auto;

    }

    #overlay {
        position: block;
        margin:0px;
        padding:0px;
        float:left;
        display: none;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        cursor: default;
        min-height: 100%;
    }


    #menu li {
        display:inline-block;
        margin-right: 40px;
    }

ul {
  padding: 20px;
  height: auto;
  display: inline-block;
}





}
*/
