/* =============================================================================
  Resets
============================================================================= */
html,
body,
div,
h1,
p,
a,
video{
    margin: 0;
    padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html{
  overflow-y: scroll;
}
html,
body {
  height: 100%;
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url('Images/i(6).jpg') no-repeat;
background-size: cover;
}

/* =============================================================================
  TYPE
============================================================================= */
a {
  font-family: 'alternate-gothic-no-1-d', sans-serif;
  font-size: 3.6em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

h2, p {
  font-family: 'Lora', serif;
  color:white;
  cursor: text;
  font-weight: normal;
}

h2 {
    font-size: 3em;
}
p {
  font-size: 2em;
  line-height: 140%;
}


/* =============================================================================
  NAV
============================================================================= */

.left {
  width: 15%;
  margin: 50px 3% 3% 3% ;
  padding: 50px;
  background-color: black;
  display: block;
  z-index: 5;
}

nav {
z-index: 5;
position: fixed;
}



/* =============================================================================
  About
============================================================================= */
#overlay {
    position: inline;
    display: none;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1);
    z-index: 1;
    cursor: default;
    min-height: 100%;
    animation: fadeIn 0.5s;
}



about{
margin: 50px 3% 3% 3% ;
float:right;
height: auto;
display:block;
width: 60%;
}

/* =============================================================================
  ANIMATION
============================================================================= */

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/* =============================================================================
  MEDIA QUERIES
============================================================================= */


@media screen and (max-width: 1080px) {
    #random {
         background:#000 no-repeat center center fixed;
         background-size: cover;
    }
    #bgvid {
        display: none;
    }
    .left {
      width: 95%;
      margin: 0px;
      padding: 0px;
      background-color: black;
      display: fixed;
      z-index: 5;
    }
    about{
      margin: 5%;
      float:right;
      height: auto;
      display:block;
      margin-top: 20%;
      width: auto;

    }

    #overlay {
        position: block;
        margin:0px;
        padding:0px;
        float:left;
        display: none;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.85);
        z-index: 1;
        cursor: default;
        min-height: 100%;
    }




}
